body {
    font-family: "Roboto", sans-serif;
    margin: 0;
}

button {
    background-color: #3882F6;
    padding: 8px 36px;
    border-radius: 8px;
    color: #F9FAF8;
    font-size: 18px;
    font-weight: bold;
}

header, .hero, footer {
    background-color: #1F2937;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 24px 200px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a:link, a:visited {
    text-decoration: none;
    color: #E5E7EB;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.header-links {
    display: flex;
    gap: 10px;
}

.header-links, .hero-explanation, .hero-img, footer {
    font-size: 18px;
    color: #E5E7EB;
}

.hero {
    display: flex;
    padding: 100px 200px;
    align-items: stretch;
    gap: 24px;
}

.hero-message {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.hero-text {
    flex: 1;
}

.hero-sign-up-button {
    border: none;
}

.hero-img-container {
    background-color: grey;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.media-container {
    display: flex;
}

.media {
    display: flex;
    flex-direction: column;
}

.media-img-container {
    background-color: white;
    border-style: solid;
    border-color: #3882F6;
    border-width: 3px;
    flex: 1;
}